#header-nav {
  background-color:gray;
  border-radius: 0;
  border:10px  black;
}

.navbar-brand h1 {
  font-family: 'Lora', serif;
  color: green;
  font-size: 1.9em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 40px;
  text-align: center;
}
#nav-list a{
color: black ;
font-size: 1.5em;
font-weight: bold;

}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.jumbotron{
	background-color: unset;
}
.jumbotron h1{
	margin-bottom: 0px;
	margin-top: 10px;
	color: green;
}

#Chicken, #Beef, #Sushi {
  height: 600px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  background-color: gray;
  font:italic;
  padding: 6px;
  color: white;

}
#Chicken span{
	color: black;
}
#Beef span{
	color: black;
}
#Sushi span{
	color: black;
}
.p1,.p2,.p3{
	font-family:  'Lora', serif;
	text-align: center;
	font-size: 1.8em;
	font-weight: bold;
	color: black;
}

